.gradle/
gradle/wrapper
.gradle/2.10/taskArtifacts/cache.properties
.gradle/2.10/taskArtifacts/cache.properties.lock
.gradle/2.10/taskArtifacts/fileHashes.bin
.gradle/2.10/taskArtifacts/fileSnapshots.bin
.gradle/2.10/taskArtifacts/outputFileStates.bin
.gradle/2.10/taskArtifacts/taskArtifacts.bin
.idea/.name
.idea/libraries/design_24_1_0.xml
.idea/libraries/recyclerview_v7_24_1_0.xml
.idea/compiler.xml
.idea/copyright/profiles_settings.xml
.idea/encodings.xml
.idea/gradle.xml
.idea/libraries/animated_vector_drawable_24_1_0.xml
.idea/libraries/appcompat_v7_24_1_0.xml
.idea/libraries/hamcrest_core_1_3.xml
.idea/libraries/junit_4_12.xml
.idea/libraries/support_annotations_24_1_0.xml
.idea/libraries/support_v4_24_1_0.xml
.idea/libraries/support_vector_drawable_24_1_0.xml
.idea/misc.xml
.idea/modules.xml
.idea/runConfigurations.xml
.idea/workspace.xml
Tuber.iml
app/app.iml
build/generated/mockable-android-24.jar
local.properties
.DS_Store
.gradle/2.10/tasks/_app_compileDebugAndroidTestJavaWithJavac/localClassSetAnalysis/localClassSetAnalysis.bin
.gradle/2.10/tasks/_app_compileDebugAndroidTestJavaWithJavac/localClassSetAnalysis/localClassSetAnalysis.lock
.gradle/2.10/tasks/_app_compileDebugAndroidTestJavaWithJavac/localJarClasspathSnapshot/localJarClasspathSnapshot.bin
.gradle/2.10/tasks/_app_compileDebugAndroidTestJavaWithJavac/localJarClasspathSnapshot/localJarClasspathSnapshot.lock
build/intermediates/dex-cache/cache.xml

